# OS and IDE Files
*.swp
*~
._*
.DS_Store
*.ipr
*.iml
*.iws
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.cache

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# emacs swap
*~

# vim swap
*.swp

# nio stuff
logs/
etc/persist/
nio.err
etc/api_key.cfg
