[submodule "blocks/communication"]
	path = blocks/communication
	url = git://github.com/nio-blocks/communication.git
[submodule "blocks/filter"]
	path = blocks/filter
	url = git://github.com/nio-blocks/filter.git
[submodule "blocks/logger"]
	path = blocks/logger
	url = git://github.com/nio-blocks/logger.git
[submodule "blocks/simulator"]
	path = blocks/simulator
	url = git://github.com/nio-blocks/simulator.git
[submodule "service_tests"]
	path = service_tests
	url = git://github.com/niolabs/service_tests.git
[submodule "blocks/attribute_selector"]
	path = blocks/attribute_selector
	url = git://github.com/nio-blocks/attribute_selector.git
[submodule "blocks/merge_streams"]
	path = blocks/merge_streams
	url = git://github.com/nio-blocks/merge_streams.git
[submodule "blocks/replicator"]
	path = blocks/replicator
	url = git://github.com/nio-blocks/replicator.git
[submodule "blocks/modifier"]
	path = blocks/modifier
	url = git://github.com/nio-blocks/modifier.git
[submodule "blocks/state"]
	path = blocks/state
	url = git://github.com/nio-blocks/state.git
[submodule "blocks/join"]
	path = blocks/join
	url = git://github.com/nio-blocks/join.git
