# n.io project configuration
#
[user_defined]

# host and port to launch rest web server on
NIOHOST=0.0.0.0
NIOPORT=8181

# Path to project root, leave blank to auto detect - it will use the root
# specified when running the binary (passed with -r or --root)
PROJECT_ROOT=

INSTANCE_NAME=local
INSTANCE_ID=local

# Pubkeeper Client
PK_HOST=your-system-id.pubkeeper.nio.works
PK_PORT=443
PK_TOKEN=
PK_SECURE=True
PK_CA_CHAIN=

# WebsocketBrew Variables
WS_HOST=your-system-id.websocket.nio.works
WS_PORT=443
WS_SECURE=True

# Pubkeeper Server
PKS_JWT_SECRET=
PKS_ADDR=
PKS_INTERFACE=
PKS_PORT=

# ZMQ / ZMQBrew Variables
# your IP address that other nodes can reach you on
IP=127.0.0.1

# ZMQ Encryption settings
# optional comma separated list of allowed ip addresses, if none specified,
# this extra layer of security is not enforced.
# This setting will only take effect if the key encryption is enabled with
# the settings below.
ALLOWED_IP_ADDRESSES=

# used for zmq strongest security model
# This is a setting that must be set on an instance containing publishers.
# Every subscriber's public key should go in this directory.
# The public keys for each subscriber should be paired with the subscriber's
# secret that is set on that host's CLIENT_SECRET_CERT
PUBLISHER_PUBLIC_KEYS_DIR=etc/public_keys

# publisher server-like certificates
# The publisher instance must set it's server secret key.
# All subscriber nodes only need to set the server's public key.
PUBLISHER_SERVER_PUBLIC_CERT=etc/public_keys/server.key
PUBLISHER_SERVER_SECRET_CERT=etc/private_keys/server.key_secret

# subscriber client-like certificates
# This client's secret key. This will be paired with the public key
# that should be copied to the broker instance's public keys folder
SUBSCRIBER_CLIENT_SECRET_CERT=etc/private_keys/client.key_secret

# ZMQ based communication module - Legacy

# the ip address of the master broker
COMHOST=127.0.0.1
# Are you the broker?
MASTER_BROKER=True
# ports used by master broker to communicate with its clients
XPUB_PORT=9000
XSUB_PORT=9001


[environment]

# Location of custom extensions for auto-discovery
#
#blocks=blocks
#components=niocore.components
#services=nio.service

[components]

# discoverable components that should be disabled from project
#
disabled=SNMPAgent, PubkeeperServer

[service]

# specify block router class used by services
#
#block_router=nio.router.thread_pool_executor.ThreadedPoolExecutorRouter

# when launching nio, start auto-start services asynchronously
#
#async_start=true

# when starting a service, start blocks asynchronously
#
#blocks_async_start=false

# when stopping a service, stop blocks asynchronously
#
#blocks_async_stop=true

# clone signals when a block notifies to two blocks
#
#clone_signals=true

# block router verifies that objects processed by blocks are nio signals
#
#check_signal_type=true

# when using ThreadedPoolExecutorRouter max workers is the maximum number of
# threads that will run concurrently
#
#thread_pool_max_workers=50

# time to wait for a service's response when sending an IPC request
#
#ipc_request_time_to_live=2

# maximum time to give a service process to launch and configure
#
#configure_timeout=60

# interval at which to check if service is fully configured
# this setting allows not to wait for configure timeout to expire in case
# of failure by monitoring service at this defined interval
#
#configure_check_interval=1

# maximum time to give a service process to start
#
#start_timeout=10

# maximum time to give a service process to stop
#
#stop_timeout=10

# interval at which to check if service process has stopped on its own
#
#stop_check_interval=1

# maximum time to give a service to stop
#
#service_stop_timeout=5

# interval at which to check if parent process has terminated in which case
# service will terminate, 0 or less will disable this check while a positive
# number indicates how often this check is performed
#check_parent_timeout=0

# include router diagnostics
#
#router_diagnostics=true

# router diagnostics interval
#
#router_diagnostic_interval=3600


[discovery]
# when a block is not decorated with discoverable-like decorator,
# this will be its default discoverability
#block_default=True

# when a service is not decorated with discoverable-like decorator,
# this will be its default discoverability
#service_default=False

# when a component is not decorated with discoverable-like decorator,
# this will be its default discoverability
#component_default=False

# comma separated list of patterns for modules to exclude from block discovery
#
#block_module_exclusions=*.tests, *.tests.*

# comma separated list of patterns for modules to exclude from service discovery
#
#service_module_exclusions=*.tests, *.tests.*

[logging]

# dictionary of python logging configuration
#
conf=etc/logging.json

[providers]

# file provider python module
#
#type=niocore.configuration.providers.file.FileConfigurationProvider

# path to configuration file provider
#
#config_directory=etc

[pubkeeper_client]
# The JWT token issued to you by the pubkeeper server, used to authenticate
#
token=[[PK_TOKEN]]

# IP of the Pubkeeper Server
#
host=[[PK_HOST]]

# Port of the Pubkeeper Server
#
port=[[PK_PORT]]

# Certificate Authority Chain for Pubkeeper Server
# when using self assigned certificates,  Using this
# option will force secure to true
#
ca_chain=[[PK_CA_CHAIN]]

# Assume wss, for secure connection to pubkeeper server
#
secure=[[PK_SECURE]]

# Validate certificate.  Useful for testing self-assigned
# certificates without a ca_chain.
#
#validate=True

# Interval to keep heartbeat on the websocket channel.  After 3 failed intervals
# the server will close the connection (default: 10)
#
#websocket_ping_interval=10

# List of all the brews you wish to use with the system
# should be a comma separated list of the classes
#
brews=pubkeeper.brew.local.brew.LocalBrew, pubkeeper.brew.websocket.brew.WebsocketBrew

[pubkeeper_server]
# This section controls configuration for the embedded Pubkeeper server
#
# Set to True if the pubkeeper server should run in this nio instance
#standalone=False

# The IP Address and port to bind the PK server to
#
#ip_address=0.0.0.0
#port=9898

# Interface, auto-detect the address of the provided interface
# and use it as the address to bind to.  This is used only if
# the PKS_ADDR (ip_address) is not set (default: lo0)
#
#interface=lo0

# Maximum time to wait in seconds for Pubkeeper Server to start (note: relevant
# ony when in standalone mode)
#connect_timeout=2

# Interval to keep heartbeat on the websocket channel.  After 3 failed intervals
# the server will close the connection (default: 10)
#
#websocket_ping_interval=10

[pubkeeper_server_auth]
# This section controls configuration for the way that clients authenticate
# with the embedded Pubkeeper server
#
# We must set an auth type of either "internal" or "local"
#
# Internal auth (default) means we can manually set a token in this 
# configruation that clients will need to use to connect with
#auth_type = internal
#token = [[ PK_TOKEN ]]

# For local auth, we connect to a database to manage our tokens
# This will spin up an auth server and UI to manage the tokens as well
#auth_type = local
# validate is the URL used by LocalAuthProvider to lookup the provided token
#validate = http://localhost:9898/auth/validate
# The database where we can store the tokens
#database = sqlite:///tokens.db
# Example connecting via postgres
#database = postgresql://user:pass@localhost:5432/dbname
#enable_ui = True
# The token to seed the database with if it doesn't exist yet
#initial_token = [[ PK_TOKEN ]]

[pubkeeper.brew.local.brew.LocalBrew]
# use localhost rather than unix domain socket
#
# use_localhost=False

[pubkeeper.brew.websocket.brew.WebsocketBrew]
# hostname/ip of the Websocket Server
#
ws_host=[[WS_HOST]]

# port of the Websocket Server
#
ws_port=[[WS_PORT]]

# Should we maintain a wss connection to websocket server
#
ws_secure=[[WS_SECURE]]

[pubkeeper.brew.zmq.brew.ZMQBrew]
# your public ip address that the master broker can talk to you on
#
ip_address=[[IP]]

# minimum port value that a new publisher can be assigned to
#
publisher_min_port=9010

# maximum port value that a new publisher can be assigned to
#
publisher_max_port=9199

# linger period determines how long pending messages which have yet to be sent to a peer shall linger in memory after a socket is disconnected
#
#linger=1000

# high water mark is a hard limit on the maximum number of outstanding messages ZMQ shall queue in memory
#
#hwm_size=100000

# sets the maximum number of sockets allowed on the context
#
#max_sockets=1023

# size of the ZMQ thread pool to handle I/O operations. If your application is using only the inproc transport for messaging you may set this to zero, otherwise set it to at least one.
#
#max_io_thread_count=1

# ZMQ Encryption settings

# optional comma separated list of allowed ip addresses, if none specified,
# this extra layer of security is not enforced.
# This setting will only take effect if the key encryption is enabled with
# the settings below.
allowed_ip_addresses = [[ALLOWED_IP_ADDRESSES]]

# used for zmq strongest security model
# This is a setting that must be set on the publisher instance.
# Every subscriber's client public key should go in this directory.
# The public keys for each subscriber should be paired with the subscriber's
# secret that is set on that host's 'subscriber_client_secret_cert'
publisher_public_keys_dir = [[PUBLISHER_PUBLIC_KEYS_DIR]]

# publisher server-like certificates
# The instance containing publishers must set it's server secret key.
# All subscriber nodes only need to set the server's public key.
publisher_server_public_cert=[[PUBLISHER_SERVER_PUBLIC_CERT]]
publisher_server_secret_cert=[[PUBLISHER_SERVER_SECRET_CERT]]

# subscriber client-like certificates
# This subscriber's secret key. This will be paired with the public key
# that should be copied to the publisher instance's public keys folder
subscriber_client_secret_cert=[[SUBSCRIBER_CLIENT_SECRET_CERT]]

[persistence]

# directory to store core persistence files, which includes blocks, services
# plus any other data persisted through components
#configuration_data=etc/core_persistence

# directory to store service persistence files
#
#data=etc/services_persistence

# redis host ip address to connect to
#redis_host=127.0.0.1

# redis port to connect to
#redis_port=6379

# redis key for core persistence
#redis_core_id=nio_core

# redis key for service persistence
#redis_services_id=nio_services

# redis key separator
#key_separator=-

[scheduler]
# minimum amount of time allowed for a scheduled job
#
#min_interval=0.1

# interval at which the scheduler will check for jobs to be run
#
#resolution=0.1

[security]

# json configuration that defines users and their passwords - can point to a conf file
#
#users=etc/users.json

# json configuration that maps users to permissions - can point to a conf file
#
#permissions=etc/permissions.json

# [security.oauth]
#
## json configuration that maps users to permissions - can point to a conf file
##
##permissions=etc/permissions.json
#
## identify client that is making responses - used to get an access token
##
##client_id=407408718192.apps.googleusercontent.com
#
## url for validating access token
##
##validate_url=https=/www.googleapis.com/oauth2/v2/tokeninfo?access_token=%s

[web]

# web server max thread pool size
#
#server_thread_pool=50

# include error traceback when reporting failed requests
#
#request_show_tracebacks=false

# cors allow origin
#
#cors_allow_origin=*

[management_publisher]

# pubsub topic to publish on
#
#topic=management

# specifies if INSTANCE_ID is appended to the topic
#
#add_instance_id=true

[diagnostic]
# Location of the diagnostic API
#
#api_url_prefix=https://api.nio.works/v1/diagnostic

# report service diagnostics?
#
#service=true

# report signals diagnostics?
#
#signals=true

# enable a failure queue
#
#failure_queue=true

# size of the failure queue in messages queued
#
#failure_queue_len=10000

# specifies if INSTANCE_ID is appended to the topic specified in management_publisher
#
#add_instance_id=true

[rest]

# settings for the web server that will host the core REST API
#

# host and port to launch rest web server on
#
port=[[NIOPORT]]
host=[[NIOHOST]]

# if configured host is unavailable, interval at which network availability is checked and web server restarted
#
#network_retry_interval=30

# path to ssl certificate files
#
ssl_certificate:
ssl_private_key:
# optional certificate chain
ssl_certificate_chain:

[service_monitor]

# interval (in seconds) to check on services in "started"
#
#healthy_monitor_interval=30

# interval (in seconds) to check on services in "error"
#
#failed_monitor_interval=60

# interval (in seconds) to wait before restarting a service when service cannot be reached
# < 0 ==> restart is disabled
#  0  ==> restart upon error detection
# > 0 ==> interval to wait while service is unreachable before restarting it
#restart_service_interval=-1

[snmp]

# host and port to launch snmp agent on
#
#host=127.0.0.1
#port=161

# community security name and agent name mapping
#
#community_index=agent
#community_name=public

# host and port to launch snmp trap server on
#
#trap_host=127.0.0.1
#trap_port=162

# community agent name for traps
#
#trap_community_index=agent

# comma separated list of services to register status change traps for
#
#status_traps=error

# ZMQ based communication module - Legacy
[communication]

# is this the master broker or a slave node
#
master=[[MASTER_BROKER]]

# the ip address of the master broker
#
broker_ip_address=[[COMHOST]]

# your public ip address that the master broker can talk to you on
#
ip_address=[[IP]]

# optionally set ip_address dynamically by interface name
#
#ip_interface=

# minimum port value that a new publisher can be assigned to
#
publisher_min_port=9010

# maximum port value that a new publisher can be assigned to
#
publisher_max_port=9199

# Bind to all interfaces when launching the broker
#broker_bind_to_all=False

# matching algorithm to use for subscribers
#
#matching=nio.modules.communication.matching.default.DefaultMatching

# interval between publisher heartbeats
#
#publisher_heartbeat_interval=30

# maximum time to wait before considering a Publisher invalid
#
#publisher_heartbeat_timeout=100

# ports used by master broker for establishing new publishers and subscribers
#
broker_xpub_port=[[XPUB_PORT]]
broker_xsub_port=[[XSUB_PORT]]

# interval between broker heartbeats
#
#broker_heartbeat_interval=30

# maximum time to wait before a broker considers a client invalid
#
#broker_heartbeat_timeout=100

# interval at which to check if a handshake response has been obtained from broker
#
#broker_handshake_interval=0.1

# time to wait before a client gives up waiting for broker to acknowledge its presence
#
#broker_handshake_timeout=5

# rate (in milliseconds) at which broker checks for messages
#
#broker_poll_rate=100

# time to wait for removal of publishers and listeners to clean up during stop
#
#publishers_notification_timeout=5

# time to wait after publisher is marked for deletion and it's actual deletion - allows for listeners to unsubscribe before publisher deletion
#
#listeners_removal_timeout=2

# interval at which to retry removing listeners if some are still active after publisher deletion
#
#termination_retry_interval=0.1

# time to wait before retrying a networking connection after failure
#
#connect_interval=1

# time to wait when establishing a network connection
#
#connect_timeout=0

# linger period determines how long pending messages which have yet to be sent to a peer shall linger in memory after a socket is disconnected
#
#linger=1000

# high water mark is a hard limit on the maximum number of outstanding messages ZMQ shall queue in memory
#
#hwm_size=100000

# sets the maximum number of sockets allowed on the context
#
#max_sockets=1023

# size of the ZMQ thread pool to handle I/O operations. If your application is using only the inproc transport for messaging you may set this to zero, otherwise set it to at least one.
#
#max_io_thread_count=1

# zmq setting timeout setting for initial client subscription
#
#zmq_port_reconnect_timeout=3

# maximum amount of time a sync-request will wait for expected replies
#
#sync_request_timeout=1

# poll interval to use for synchronizations
#
#sync_poll_interval=0.1

# maximum amount of time replier will wait for request confirmation
#
#sync_reply_timeout=1

# ZMQ Encryption settings

# optional comma separated list of allowed ip addresses, if none specified,
# this extra layer of security is not enforced.
# This setting will only take effect if the key encryption is enabled with
# the settings below.
#allowed_ip_addresses = [[ALLOWED_IP_ADDRESSES]]

# used for zmq strongest security model
# This is a setting that must be set on the broker instance.
# Every client's public key should go in this directory.
# The public keys for each client should be paired with the client's
# secret that is set on that host's CLIENT_SECRET_CERT
#broker_public_keys_dir = [[BROKER_PUBLIC_KEYS_DIR]]

# broker server-like certificates
# The broker instance must set it's server secret key.
# All slave nodes only need to set the server's public key.
#broker_server_public_cert=[[BROKER_SERVER_PUBLIC_CERT]]
#broker_server_secret_cert=[[BROKER_SERVER_SECRET_CERT]]

# broker client-like certificates
# This client's secret key. This will be paired with the public key
# that should be copied to the broker instance's public keys folder
#broker_client_secret_cert=[[BROKER_CLIENT_SECRET_CERT]]

# used for zmq strongest security model
# This is a setting that must be set on the publisher instance.
# Every subscriber's client public key should go in this directory.
# The public keys for each subscriber should be paired with the subscriber's
# secret that is set on that host's 'subscriber_client_secret_cert'
#publisher_public_keys_dir = [[PUBLISHER_PUBLIC_KEYS_DIR]]

# publisher server-like certificates
# The instance containing publishers must set it's server secret key.
# All subscriber nodes only need to set the server's public key.
#publisher_server_public_cert=[[PUBLISHER_SERVER_PUBLIC_CERT]]
#publisher_server_secret_cert=[[PUBLISHER_SERVER_SECRET_CERT]]

# subscriber client-like certificates
# This subscriber's secret key. This will be paired with the public key
# that should be copied to the publisher instance's public keys folder
#subscriber_client_secret_cert=[[SUBSCRIBER_CLIENT_SECRET_CERT]]
